#about-page {
  width: min(860px, 100%);
  height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: var(--mui-palette-background-light);
  box-shadow: var(--mui-shadows-6);
}

#about-page-content {
  min-height: 100%;
  padding: min(36px, calc(9px + 3vw));
  padding-bottom: 24px;
  box-sizing: border-box;
}

#about-repo {
  padding-right: 8%;
}

#about-myriad {
  padding-left: 8%;
  text-align: right;
}

#about-repo p,
#about-myriad p {
  font-size: 1.3rem;
}

.admin-tag {
  display: flex;
  border-radius: 20px;
  background-color: #6cfffd36;
  gap: 16px;
  padding: 16px;
  box-shadow: var(--mui-shadows-4);
}

.admin-tag > img {
  --image-size: clamp(50px, 15vw, 100px);
  object-fit: contain;
  border-radius: 20%;
  width: var(--image-size);
  height: var(--image-size);
  box-shadow: var(--mui-shadows-3);
}

.admin-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.admin-info h4 {
  font-size: min(1.6em, calc(1em + 1.5vw));
}

.admin-info h6 {
  font-size: min(0.95em, calc(0.5em + 1vw));
}

#about-footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-footer p {
  text-align: center;
  font-size: 0.75em;
  color: var(--mui-palette-text-secondary);
}
