#repo-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.repo-search-results {
  display: flex;
  flex-wrap: wrap;
  gap: calc(8px + 0.5vw) 1.4vw;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

@media (max-width: 720px) {
  .repo-search-results {
    padding-left: 0;
    padding-right: 0;
  }
}
