.project-container {
  padding: min(10px, 0.8vw) 0;
  margin: 0 min(20px, 1vw);
}

.repo-search-results {
  display: flex;
  flex-wrap: wrap;
  gap: 1.4%;
  width: 100%;
}

.interactable {
  cursor: pointer;
  transition: 0.15s;
}

@media (max-width: 720px) {
  .project-container {
    margin-left: 0;
    margin-right: 0;
  }
}
