@property --project-sidebar-width {
  syntax: '<number>';
  inherits: false;
}

.project-page {
  position: relative;
  --project-sidebar-width: min(500px, 20vw + 160px);
}

.project-info {
  padding: 30px 50px;
  margin-right: var(--project-sidebar-width);
  transition: margin-right 0.5s;
}

.project-info.closed {
  margin-right: 0;
}
