.project-card {
  --min-card-width: 500px;
  border-radius: 20px !important;
  border-width: 1.5px !important;
  overflow: hidden;
  font-size: clamp(0.7em, 1vw, 1em);
  min-width: var(--min-card-width);
  max-width: 1200px;
  box-shadow: var(--mui-shadows-4);
  flex: 1 0;
}

.project-card a {
  /* color: var(--mui-palette-text-secondary);
  text-decoration-style: dotted;
  text-decoration-color: #5d5d5d;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 2.4px; */
  transition: all 0.2s;
}

#card-link {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding: 16px 16px 24px 12px;
  margin: -16px -16px -24px -12px;
}

#card-link,
#card-link:visited,
#card-link:hover,
#card-link:active {
  color: inherit;
}

.project-image-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  padding: 8px 4px;
}

.project-card-content {
  display: flex;
  width: 100%;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-width: 0;
  gap: 6px;
}

.project-header {
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
}

.project-header h4 {
  padding-right: 12px;
  font-weight: bolder;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 0;
}

.project-image {
  --project-image-size: clamp(100px, 8vw, 160px);
  flex: 0 0 var(--project-image-size);
  width: var(--project-image-size);
  height: var(--project-image-size);
  border-width: 1.5px;
  border-style: double;
  border-color: var(--mui-palette-divider);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

@media (max-width: 720px) {
  .project-card {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
  }
}

@media (max-width: 500px) {
  .project-card {
    min-width: 100%;
  }
}
