.disabled-text-interaction {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.interactable {
  cursor: pointer;
  transition: 0.08s !important;
}

.interactable:hover {
  transform: scale(1.03);
}

.interactable:active {
  transform: scale(0.985);
  filter: brightness(90%);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

#app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.scrollable-y {
  overflow-y: scroll;
}

.hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

a.colorless,
a.colorless:visited,
a.colorless:hover,
a.colorless:active {
  color: inherit;
}

a.no-underline,
a.no-underline:visited,
a.no-underline:hover,
a.no-underline:active {
  text-decoration: none;
}

.full-height {
  box-sizing: border-box;
  height: 100%;
}
