@import url('https://fonts.googleapis.com/css2?family=Sora');

body {
  --color-active: #268426;
  --color-inactive: #424647;
  --color-upcoming: #067f8c;
  --color-hiatus: #9e561b;
  color: var(--mui-palette-text-primary);
  background-color: var(--mui-palette-background-default);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Sora, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
