.nav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em min(2vw, 40px);
  background-color: var(--mui-palette-background-dark);
  box-shadow: var(--mui-shadows-5);
  z-index: 100;
  font-family: Sora, serif;
}

.main-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 32px;
  gap: min(2vw, 32px);
}

.main-menu a {
  transition: filter 0.3s;
}

#myriad-title {
  display: flex;
  align-items: center;
  color: #b92c69;
}

.main-menu h1 {
  margin: 0;
  font-size: min(2.3em, 10px + 2.5vw);
  font-weight: bold;
}

.main-menu h2 {
  margin: 0;
  font-size: min(1.2em, 2px + 1.9vw);
  font-weight: bold;
}

.main-menu a:hover:not(#myriad-title) {
  filter: brightness(130%);
  cursor: pointer;
}
