.project-card {
  border-radius: 20px !important;
  border-width: 1.5px !important;
  display: flex;
  flex-direction: column;
  margin: max(0.5vw, 8px) 0;
  overflow: hidden;
  font-size: clamp(0.7em, 1vw, 1em);
}

.project-card a {
  color: var(--mui-palette-text-secondary);
  text-decoration-style: dotted;
  text-decoration-color: #5d5d5d;
  text-decoration-thickness: 1.2px;
  text-underline-offset: 2.4px;
}

.project-header {
  display: flex;
}

.project-image {
  --project-image-size: clamp(100px, 8vw, 160px);
  flex: 0 0 var(--project-image-size);
  width: var(--project-image-size);
  height: var(--project-image-size);
  border-width: 1.5px;
  border-style: double;
  border-color: var(--mui-palette-divider);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 12px;
  display: flex;
  justify-content: center;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-overview p {
  margin: 0;
  padding: 6px 0;
  min-width: 12em;
}

.tag {
  display: inline-block;
  padding: 3px 8px;
  margin-right: 10px;
  border-radius: 5px;
  /* TODO: vary this! */
  background-color: green;
}

@media (max-width: 720px) {
  .project-card {
    border-radius: 0 !important;
    border-left: none !important;
    border-right: none !important;
  }
}
