.update-card {
  border-radius: 20px !important;
  border-width: 1.5px !important;
  overflow: hidden;
  font-size: clamp(0.7em, 1vw, 1em);
  min-width: var(--min-card-width);
  box-shadow: var(--mui-shadows-4);
  flex: 1 0;
}

.update-card-header {
  width: 100%;
}

.update-text {
  white-space: pre-line;
}
