.update-card {
  border-radius: 20px !important;
  border-width: 1.5px !important;
  overflow: hidden;
  font-size: clamp(0.7em, 1vw, 1em);
  min-width: var(--min-card-width);
  box-shadow: var(--mui-shadows-4);
  box-sizing: border-box;
  flex: 1 0;
}

.update-card-header {
  width: 100%;
}

.update-text {
  overflow: hidden;
  overflow-wrap: break-word;
  white-space-collapse: preserve-breaks;
  transition: max-height 0.4s;
}

.read-more-text {
  width: fit-content;
  color: rgb(116, 218, 243);
  transition: filter 0.1s;
}

.read-more-text:hover {
  filter: brightness(85%);
  cursor: pointer;
}
