#user-button {
  border: 1.2px solid #8a8a8a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: auto;
  padding: 6px 8px;
  transition-property: border, filter;
  transition-duration: 0.08s;
  background-color: var(--mui-palette-background-default);
  font-size: 1rem;
  min-width: 0;
}

#user-button svg {
  font-size: 1.2rem;
}

#user-button p {
  text-overflow: ellipsis;
  overflow: hidden;
}

#user-button:hover {
  cursor: pointer;
  border-color: #a5a5a5;
}

#user-button:active {
  cursor: pointer;
  filter: brightness(115%);
}

#avatar-label {
  position: relative;
}

#avatar-label::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0);
}

#avatar-label::after:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#login-menu li:not(#login-menu li:last-of-type) {
  padding-bottom: 8px;
}

#login-menu li *:first-child {
  margin-left: auto;
}

#login-menu li button {
  padding: 6px 10px;
}

#user-menu-avatar {
  width: 52px;
  height: 52px;
  transition: filter 0.06s;
}

#user-menu-avatar:hover {
  filter: saturate(80%) brightness(115%);
  cursor: pointer;
}

#user-menu-avatar:active {
  filter: saturate(100%) brightness(90%);
  cursor: pointer;
}

.toggle-arrow {
  transition: transform 0.3s !important;
}

.toggle-open {
  transform: rotate(-180deg);
}

.toggle-closed {
  transform: rotate(0deg);
}

#user-menu hr {
  margin-top: 8px;
  margin-bottom: 8px;
}
