#user-button {
  border: 1.2px solid #8a8a8a;
  border-radius: 12px;
  display: flex;
  align-items: center;
  margin-right: 12px;
  padding: 8px;
  transition-property: border, filter;
  transition-duration: 0.08s;
  background-color: var(--mui-palette-background-default);
}

#user-button:hover {
  cursor: pointer;
  border-color: #a5a5a5;
}

#user-button:active {
  cursor: pointer;
  filter: brightness(115%);
}

.toggle-arrow {
  transition: transform 0.3s !important;
}

.toggle-open {
  transform: rotate(-180deg);
}

.toggle-closed {
  transform: rotate(0deg);
}
